
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      // Allow anyone to create a game.
      allow create: if true;

      // Allow anyone to read or update a game.
      // TODO: This should be restricted to players in the game once auth is added.
      // e.g., allow read, update: if request.auth.uid in resource.data.players;
      allow read, update, delete: if true;

      match /players/{playerId} {
        // Allow anyone to interact with players in a game.
        // TODO: This should be restricted.
        // e.g., allow read, create, update: if request.auth.uid == playerId || get(/databases/$(database)/documents/games/$(gameId)).data.creatorId == request.auth.uid;
        allow read, create, update: if true;
      }
    }
  }
}
